In [1]:
import pandas as pd
import numpy as np
import calendar
from datetime import datetime

In [2]:
dtypesCols = {
    'id': int, 
    'descripcion': str,
    'gimnasio': np.int8, 
    'usosmultiples': np.int8, 
    'piscina': np.int8,
    'escuelascercanas': np.int8,
    'centroscomercialescercanos': np.int8
}

cols = [
    'id',
    'descripcion',
    'gimnasio', 
    'usosmultiples', 
    'piscina', 
    'escuelascercanas', 
    'centroscomercialescercanos'
]

df_train = pd.read_csv('../data/train.csv', index_col='id', dtype = dtypesCols, usecols = cols)
df_test = pd.read_csv('../data/test.csv', index_col='id', dtype = dtypesCols, usecols = cols)

In [3]:
df_train['cantidad_amenities'] = df_train['gimnasio'] + df_train['usosmultiples'] + df_train['piscina']
df_test['cantidad_amenities'] = df_test['gimnasio'] + df_test['usosmultiples'] + df_test['piscina']

df_train['cantidad_servicios'] = df_train['escuelascercanas'] + df_train['centroscomercialescercanos']
df_test['cantidad_servicios'] =  df_test['escuelascercanas'] + df_test['centroscomercialescercanos']

--------------------------------------------------------------------------------------------------------------------------------

In [4]:
df_train['descripcion'].fillna("-", inplace = True)
df_test['descripcion'].fillna("-", inplace = True)

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240000 entries, 254099 to 121958
Data columns (total 8 columns):
descripcion                   240000 non-null object
gimnasio                      240000 non-null int8
usosmultiples                 240000 non-null int8
piscina                       240000 non-null int8
escuelascercanas              240000 non-null int8
centroscomercialescercanos    240000 non-null int8
cantidad_amenities            240000 non-null int8
cantidad_servicios            240000 non-null int8
dtypes: int8(7), object(1)
memory usage: 5.3+ MB

In [8]:
lstWords = ['luminosa', 'excelente', 'mejor', 'precioso']
def cantidad_words(x): 
    descripcion = x.split()  
    total_palabras = 0
    for one_word in lstWords:
        if (one_word in descripcion):
            total_palabras += 1
    return total_palabras

df_train['cantidad_words'] = df_train['descripcion'].apply(lambda x: cantidad_words(x))
df_test['cantidad_words'] = df_test['descripcion'].apply(lambda x: cantidad_words(x))

In [9]:
df_test.head()

,descripcion,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,cantidad_amenities,cantidad_servicios,cantidad_words
id,,,,,,,,,
4941,<p>excelente casa estilo moderno.</p>,0,0,0,0,0,0,0,0
51775,<p>departamento una recamara:\n</p><p>departam...,0,0,0,0,0,0,0,0
115253,"departamento nuevo de 87.06 m2, 1 cajón de est...",0,0,0,0,1,0,1,0
299321,<p> raíces dv001 precioso departamento tipo k...,0,0,0,0,0,0,0,1
173570,"<p>casa sola, bonita de dos rec&aacute;maras u...",0,0,0,1,1,0,2,0