In [1]:
import pandas as pd
import numpy as np
import calendar
from datetime import datetime
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')

## Notebook para limpiar datos y generar Features

In [2]:
df_train = pd.read_csv('../data/train.csv')
df_test = pd.read_csv('../data/test.csv')

In [3]:
df_train.columns

Index(['id', 'titulo', 'descripcion', 'tipodepropiedad', 'direccion', 'ciudad',
       'provincia', 'antiguedad', 'habitaciones', 'garages', 'banos',
       'metroscubiertos', 'metrostotales', 'idzona', 'lat', 'lng', 'fecha',
       'gimnasio', 'usosmultiples', 'piscina', 'escuelascercanas',
       'centroscomercialescercanos', 'precio'],
      dtype='object')

In [4]:
print('Cantidad nulos en Titulo:', df_train.titulo.isnull().sum())

Cantidad nulos en Titulo: 5387

In [5]:
print('Cantidad nulos en Descripcion:', df_train.descripcion.isnull().sum())

Cantidad nulos en Descripcion: 1619

In [6]:
print('Cantidad nulos en Tipo Propiedad:', df_train.tipodepropiedad.isnull().sum())
df_train.tipodepropiedad.value_counts()

Cantidad nulos en Tipo Propiedad: 46

Casa                             141717
Apartamento                       57341
Casa en condominio                19297
Terreno                            9945
Local Comercial                    3055
Oficina comercial                  1741
Bodega comercial                   1406
Edificio                           1396
Terreno comercial                  1326
Casa uso de suelo                   708
Quinta Vacacional                   395
Duplex                              343
Villa                               340
Inmuebles productivos urbanos       200
Rancho                              170
Local en centro comercial           165
Departamento Compartido             141
Otros                               134
Nave industrial                      76
Terreno industrial                   31
Huerta                               20
Lote                                  5
Garage                                1
Hospedaje                             1
Name: tipodepropiedad, dtype: int64

In [7]:
print('Cantidad nulos en Ciudad:', df_train.ciudad.isnull().sum())
df_train.ciudad.value_counts()

Cantidad nulos en Ciudad: 372

Querétaro                       12646
Benito Juárez                   11014
Zapopan                         10360
San Luis Potosí                  7925
Mérida                           7162
Monterrey                        6946
Alvaro Obregón                   6633
Cuauhtémoc                       6614
Naucalpan de Juárez              6554
Miguel Hidalgo                   5795
Atizapán de Zaragoza             5783
Tlalpan                          5721
Huixquilucan                     5718
Coyoacán                         5293
Puebla                           4636
Guadalajara                      4006
San Andrés Cholula               3805
Cancún                           3779
Cuernavaca                       3775
Chihuahua                        3757
Tlalnepantla de Baz              3588
Cuautitlán Izcalli               3408
Tlajomulco de Zúñiga             3254
Gustavo A. Madero                3141
Iztapalapa                       3093
Cuajimalpa de Morelos            3020
Tijuana                          2863
Hermosillo                       2590
Acapulco de Juárez               2454
Ecatepec de Morelos              2159
                                ...
Saucillo                            1
Ciénega de Zimatlán                 1
San Mateo Río Hondo                 1
Ixtaczoquitlán                      1
Gómez Farías                        1
Santa Ana                           1
Sanctórum de Lázaro Cárdenas        1
San Fernando                        1
Hopelchén                           1
CopAndaro                           1
Axochiapan                          1
Apazapan                            1
Elota                               1
Poanas                              1
Xicotepec                           1
San Cristóbal de la Barranca        1
Santa María Apazco                  1
Cansahcab                           1
Nahuatzen                           1
Teteles de Avila Castillo           1
Buctzotz                            1
Progreso de Obregón                 1
Aquismón                            1
San Rafael                          1
Cocotitlán                          1
San Pablo Huitzo                    1
Tolcayuca                           1
Angostura                           1
Atoyac                              1
Nopaltepec                          1
Name: ciudad, Length: 875, dtype: int64

In [8]:
print('Cantidad nulos en Provincia:', df_train.provincia.isnull().sum())
df_train.provincia.value_counts()

Cantidad nulos en Provincia: 155

Distrito Federal         58790
Edo. de México           41607
Jalisco                  21238
Querétaro                16988
Nuevo León               15324
Puebla                   10421
San luis Potosí           8447
Yucatán                   7928
Morelos                   7337
Veracruz                  5762
Quintana Roo              4756
Chihuahua                 4590
Coahuila                  3695
Baja California Norte     3220
Sonora                    2988
Guanajuato                2860
Guerrero                  2678
Hidalgo                   2521
Michoacán                 2471
Tamaulipas                2303
Durango                   2275
Sinaloa                   1806
Aguascalientes            1753
Baja California Sur       1700
Nayarit                   1352
Chiapas                   1126
Colima                    1008
Tabasco                    994
Tlaxcala                   839
Oaxaca                     711
Campeche                   263
Zacatecas                   94
Name: provincia, dtype: int64

In [9]:
print('Cantidad nulos en idZona:', df_train.idzona.isnull().sum())
df_train.idzona.value_counts()

Cantidad nulos en idZona: 28621

50003995.0    2539
84312.0       2022
334898.0      1545
50003997.0    1409
50003998.0    1400
275358.0      1274
55795.0       1143
286309.0      1060
23815.0       1023
50003996.0     973
87460.0        912
55584.0        879
23569.0        863
55520.0        729
84028.0        610
50002774.0     606
23191.0        599
84338.0        590
24481.0        590
55519.0        587
275308.0       579
24823.0        575
23734.0        566
55552.0        537
23365.0        533
339455.0       513
23837.0        510
343015.0       503
55678.0        475
50003999.0     448
              ...
87478.0          1
116169.0         1
93754.0          1
130040.0         1
1331.0           1
71688.0          1
105566.0         1
105568.0         1
79916.0          1
126518.0         1
72809.0          1
122515.0         1
47689.0          1
127554.0         1
122523.0         1
56074.0          1
105596.0         1
3300.0           1
69092.0          1
56940.0          1
57408.0          1
72853.0          1
291417.0         1
126509.0         1
15318.0          1
1780.0           1
41950.0          1
36441.0          1
15319.0          1
52082.0          1
Name: idzona, Length: 19719, dtype: int64

In [10]:
print('Cantidad nulos en Habitaciones:', df_train.habitaciones.isnull().sum())
df_train.habitaciones.value_counts()

Cantidad nulos en Habitaciones: 22471

3.0     121887
2.0      57808
4.0      25068
1.0       5069
5.0       4596
6.0       1669
7.0        539
8.0        398
10.0       316
9.0        179
Name: habitaciones, dtype: int64

In [11]:
print('Cantidad nulos en Garages:', df_train.garages.isnull().sum())
df_train.garages.value_counts()

Cantidad nulos en Garages: 37765

2.0    94167
1.0    59464
0.0    26926
3.0    21678
Name: garages, dtype: int64

In [12]:
print('Cantidad nulos en Antiguedad:', df_train.antiguedad.isnull().sum())
df_train.antiguedad.value_counts()

Cantidad nulos en Antiguedad: 43555

0.0     50335
5.0     33268
10.0    28844
20.0    19904
1.0     12353
4.0      7944
3.0      5616
2.0      5059
15.0     3965
6.0      3169
30.0     3055
8.0      2418
25.0     2297
7.0      2046
12.0     1492
11.0     1434
40.0     1347
50.0     1193
9.0      1065
35.0      938
18.0      908
21.0      742
16.0      700
14.0      616
13.0      577
17.0      529
22.0      448
28.0      396
26.0      369
45.0      329
        ...
47.0       40
55.0       38
48.0       36
46.0       31
70.0       29
41.0       27
80.0       27
53.0       17
49.0       17
65.0       17
52.0       11
58.0       10
54.0        9
75.0        6
66.0        5
59.0        5
69.0        5
67.0        4
57.0        4
63.0        4
62.0        3
56.0        3
74.0        2
68.0        2
79.0        2
61.0        2
76.0        2
71.0        1
77.0        1
64.0        1
Name: antiguedad, Length: 78, dtype: int64

In [13]:
print('Cantidad nulos en Baños:', df_train.banos.isnull().sum())
df_train.banos.value_counts()

Cantidad nulos en Baños: 26221

2.0    87683
1.0    58173
3.0    49365
4.0    18558
Name: banos, dtype: int64

In [14]:
print('Cantidad nulos en Metros Cubiertos:', df_train.metroscubiertos.isnull().sum())
df_train.metroscubiertos.value_counts()

Cantidad nulos en Metros Cubiertos: 17400

200.0    4984
120.0    4290
60.0     4217
90.0     4204
300.0    3920
100.0    3892
180.0    3780
80.0     3716
150.0    3543
250.0    3521
160.0    3502
70.0     3231
140.0    2931
65.0     2747
220.0    2728
110.0    2695
400.0    2434
130.0    2420
240.0    2358
350.0    2197
75.0     2153
170.0    2121
280.0    1989
190.0    1890
50.0     1836
230.0    1730
260.0    1728
210.0    1653
85.0     1652
320.0    1574
         ...
421.0      58
381.0      55
437.0      55
373.0      55
439.0      54
34.0       53
422.0      52
431.0      50
427.0      47
379.0      47
25.0       47
399.0      46
403.0      46
433.0      46
413.0      43
31.0       39
429.0      36
15.0       30
28.0       30
27.0       23
24.0       22
23.0       21
16.0       18
29.0       16
26.0       14
18.0       13
22.0       12
19.0       10
21.0        9
17.0        8
Name: metroscubiertos, Length: 425, dtype: int64

In [15]:
print('Cantidad nulos en Metros Totales:', df_train.metrostotales.isnull().sum())
df_train.metrostotales.value_counts()

Cantidad nulos en Metros Totales: 51467

90.0     7042
200.0    6957
160.0    6026
120.0    5687
300.0    4837
250.0    4360
140.0    3314
180.0    3304
60.0     3165
105.0    3051
150.0    2837
100.0    2815
80.0     2401
400.0    2001
70.0     1888
130.0    1871
110.0    1754
128.0    1746
240.0    1660
220.0    1654
144.0    1595
170.0    1567
96.0     1542
65.0     1445
75.0     1337
72.0     1271
126.0    1172
112.0    1170
350.0    1151
210.0    1095
         ...
439.0      54
381.0      53
20.0       52
379.0      52
38.0       51
394.0      51
39.0       50
423.0      47
421.0      46
433.0      42
25.0       40
393.0      40
429.0      39
34.0       36
31.0       34
33.0       34
15.0       32
37.0       28
28.0       28
27.0       28
26.0       22
24.0       21
16.0       19
29.0       18
22.0       17
18.0       14
21.0       14
17.0       13
23.0       10
19.0        8
Name: metrostotales, Length: 425, dtype: int64

In [16]:
print('Cantidad nulos en Gimnasio:', df_train.gimnasio.isnull().sum())
df_train.gimnasio.value_counts()

Cantidad nulos en Gimnasio: 0

0.0    225006
1.0     14994
Name: gimnasio, dtype: int64

In [17]:
print('Cantidad nulos en SUM:', df_train.usosmultiples.isnull().sum())
df_train.usosmultiples.value_counts()

Cantidad nulos en SUM: 0

0.0    226778
1.0     13222
Name: usosmultiples, dtype: int64

In [18]:
print('Cantidad nulos en Piscina:', df_train.piscina.isnull().sum())
df_train.piscina.value_counts()

Cantidad nulos en Piscina: 0

0.0    219028
1.0     20972
Name: piscina, dtype: int64

In [19]:
print('Cantidad nulos en Escuelas Cercanas:', df_train.escuelascercanas.isnull().sum())
df_train.escuelascercanas.value_counts()

Cantidad nulos en Escuelas Cercanas: 0

0.0    133406
1.0    106594
Name: escuelascercanas, dtype: int64

In [20]:
print('Cantidad nulos en Centros Comerciales Cercanos:', df_train.centroscomercialescercanos.isnull().sum())
df_train.centroscomercialescercanos.value_counts()

Cantidad nulos en Centros Comerciales Cercanos: 0

0.0    144832
1.0     95168
Name: centroscomercialescercanos, dtype: int64

In [21]:
print('Cantidad nulos en Fecha:', df_train.fecha.isnull().sum())

Cantidad nulos en Fecha: 0

In [22]:
df_test.isnull().sum()

id                                0
titulo                         1378
descripcion                     401
tipodepropiedad                   7
direccion                     13191
ciudad                           83
provincia                        42
antiguedad                    10714
habitaciones                   5628
garages                        9323
banos                          6554
metroscubiertos                4299
metrostotales                 12655
idzona                         7179
lat                           30695
lng                           30695
fecha                             0
gimnasio                          0
usosmultiples                     0
piscina                           0
escuelascercanas                  0
centroscomercialescercanos        0
dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------

### Reemplazo de Nulos

In [23]:
# Imputamos los NaNs
df_train['metroscubiertos'] = imp_mean.fit_transform(df_train[['metroscubiertos']])
df_test['metroscubiertos'] = imp_mean.transform(df_test[['metroscubiertos']])

In [24]:
# Imputamos los NaNs
df_train['metrostotales'] = imp_mean.fit_transform(df_train[['metrostotales']])
df_test['metrostotales'] = imp_mean.transform(df_test[['metrostotales']])

In [25]:
# Imputamos los NaNs
df_train['banos'] = imp_mean.fit_transform(df_train[['banos']])
df_test['banos'] = imp_mean.transform(df_test[['banos']])

In [26]:
# Imputamos los NaNs
df_train['antiguedad'] = imp_mean.fit_transform(df_train[['antiguedad']])
df_test['antiguedad'] = imp_mean.transform(df_test[['antiguedad']])

In [27]:
# Imputamos los NaNs
df_train['garages'] = imp_mean.fit_transform(df_train[['garages']])
df_test['garages'] = imp_mean.transform(df_test[['garages']])

In [28]:
# Imputamos los NaNs
df_train['habitaciones'] = imp_mean.fit_transform(df_train[['habitaciones']])
df_test['habitaciones'] = imp_mean.transform(df_test[['habitaciones']])

In [29]:
# Imputamos los Nulos
df_train['tipodepropiedad'].fillna("Sin datos", inplace = True)
df_test['tipodepropiedad'].fillna("Sin datos", inplace = True)

In [30]:
# Imputamos los Nulos
df_train['ciudad'].fillna("Sin datos", inplace = True)
df_test['ciudad'].fillna("Sin datos", inplace = True)

In [31]:
# Imputamos los Nulos
df_train['provincia'].fillna("Sin datos", inplace = True)
df_test['provincia'].fillna("Sin datos", inplace = True)

In [32]:
# Imputamos los Nulos
df_train['descripcion'].fillna("Sin datos", inplace = True)
df_test['descripcion'].fillna("Sin datos", inplace = True)

In [33]:
# Imputamos los Nulos
df_train['titulo'].fillna("Sin datos", inplace = True)
df_test['titulo'].fillna("Sin datos", inplace = True)

In [34]:
# Imputamos los Nulos
df_train['direccion'].fillna("Sin datos", inplace = True)
df_test['direccion'].fillna("Sin datos", inplace = True)

In [35]:
id_zona_prom_provincia_train = df_train[~df_train['idzona'].isnull()].groupby('provincia').agg({'idzona': 'mean'}).T.to_dict('list')
id_zona_prom_ciudad_train = df_train[~df_train['idzona'].isnull()].groupby('ciudad').agg({'idzona': 'mean'}).T.to_dict('list')

def completar_zona_ciudad_train (idzona, una_ciudad):
    if (np.isnan(idzona)):
        if (una_ciudad != "Sin datos"):
            if (una_ciudad in id_zona_prom_ciudad_train):
                return id_zona_prom_ciudad_train[una_ciudad][0]
    return idzona

def completar_zona_provincia_train (idzona, una_provincia):
    if (np.isnan(idzona)):
        if ((una_provincia != "Sin datos") & (una_provincia in id_zona_prom_provincia_train)):
            return id_zona_prom_provincia_train[una_provincia][0]
        else:
            return 0

    return idzona

In [36]:
df_train['idzona'] = df_train.idzona.combine(df_train.ciudad, func=completar_zona_ciudad_train)
df_train['idzona'] = df_train.idzona.combine(df_train.provincia, func=completar_zona_provincia_train)

In [37]:
id_zona_prom_provincia_test = df_test[~df_test['idzona'].isnull()].groupby('provincia').agg({'idzona': 'mean'}).T.to_dict('list')
id_zona_prom_ciudad_test = df_test[~df_test['idzona'].isnull()].groupby('ciudad').agg({'idzona': 'mean'}).T.to_dict('list')

def completar_zona_ciudad_test (idzona, una_ciudad):
    if (np.isnan(idzona)):
        if (una_ciudad != "Sin datos"):
            if (una_ciudad in id_zona_prom_ciudad_test):
                return id_zona_prom_ciudad_test[una_ciudad][0]
    return idzona

def completar_zona_provincia_test (idzona, una_provincia):
    if (np.isnan(idzona)):
        if ((una_provincia != "Sin datos") & (una_provincia in id_zona_prom_provincia_test)):
            return id_zona_prom_provincia_test[una_provincia][0]
        else:
            return 0
    return idzona

In [38]:
df_test['idzona'] = df_test.idzona.combine(df_test.ciudad, func=completar_zona_ciudad_test)
df_test['idzona'] = df_test.idzona.combine(df_test.provincia, func=completar_zona_provincia_test)

In [39]:
# Elimino caracteres que pueden modificar palabras y llevo todas las palabras a minuscular
import string 
char_invalidos = string.punctuation

char_fin_linea = ['\n', '\t', '\r']

def limpiar_cadena (cadena):
    cadena_valida = cadena
    for un_char in char_invalidos:
        cadena_valida = cadena_valida.replace(un_char, " ")
        
    for un_char in char_fin_linea:
        cadena_valida = cadena_valida.replace(un_char, " ")
        
    return cadena_valida.lower()

In [40]:
df_train['descripcion'] = df_train['descripcion'].apply(limpiar_cadena)
df_test['descripcion'] = df_test['descripcion'].apply(limpiar_cadena)

In [41]:
df_train['titulo'] = df_train['titulo'].apply(limpiar_cadena)
df_test['titulo'] = df_test['titulo'].apply(limpiar_cadena)

In [42]:
df_train['direccion'] = df_train['direccion'].apply(limpiar_cadena)
df_test['direccion'] = df_test['direccion'].apply(limpiar_cadena)

-------------------------------------------------------------------------------------------------------------------------------------

### Creación de nuevos Features

In [43]:
def relacion_entre_dos(numerador, denominador):
    if (denominador == 0):
        return 0
    return (numerador / denominador)

##### Cantidad total de Amenities

In [44]:
df_train['cantidad_amenities'] = df_train['gimnasio'] + df_train['usosmultiples'] + df_train['piscina']
df_test['cantidad_amenities'] = df_test['gimnasio'] + df_test['usosmultiples'] + df_test['piscina']

##### Cantidad total de Servicios (escuales/comercios cercanos)

In [45]:
df_train['cantidad_servicios'] = df_train['escuelascercanas'] + df_train['centroscomercialescercanos']
df_test['cantidad_servicios'] =  df_test['escuelascercanas'] + df_test['centroscomercialescercanos']

##### Relación entre Metros Cubiertos sobre Metros Totales

In [46]:
df_train['relacion_metros'] = df_train['metroscubiertos'] / df_train['metrostotales']
df_test['relacion_metros'] = df_test['metroscubiertos'] / df_test['metrostotales']

##### Metros Cuadrados Cubiertos por Habitación

In [47]:
df_train['metros_por_habitacion'] = df_train.metroscubiertos.combine(df_train.habitaciones, func=relacion_entre_dos)
df_test['metros_por_habitacion'] = df_test.metroscubiertos.combine(df_test.habitaciones, func=relacion_entre_dos)

##### Metros cuadrados cubiertos por Baño

In [48]:
df_train['metros_por_bano'] = df_train.metroscubiertos.combine(df_train.banos, func=relacion_entre_dos)
df_test['metros_por_bano'] = df_test.metroscubiertos.combine(df_test.banos, func=relacion_entre_dos)

##### Metros cuadrados por cantidad total de Amenities

In [49]:
df_train['metros_por_amenities'] = df_train.metroscubiertos.combine(df_train.cantidad_amenities, func=relacion_entre_dos)
df_test['metros_por_amenities'] = df_test.metroscubiertos.combine(df_test.cantidad_amenities, func=relacion_entre_dos)

##### Cantidad de Baños por habitación

In [50]:
df_train['bano_por_habitacion'] = df_train.banos.combine(df_train.habitaciones, func=relacion_entre_dos)
df_test['bano_por_habitacion'] = df_test.banos.combine(df_test.habitaciones, func=relacion_entre_dos)

##### Cantidad de Garages por habitación

In [51]:
df_train['garages_por_habitacion'] = df_train.garages.combine(df_train.habitaciones, func=relacion_entre_dos)
df_test['garages_por_habitacion'] = df_test.garages.combine(df_test.habitaciones, func=relacion_entre_dos)

##### Precio promedio según la ciudad

In [52]:
precio_promedio_por_ciudad = df_train.groupby('ciudad').agg({'precio':'mean'}).T.to_dict('list')
precio_promedio_general = df_train.precio.mean()

In [53]:
def obtener_precio_promedio_por_ciudad(una_ciudad):
    if una_ciudad in precio_promedio_por_ciudad:
        return precio_promedio_por_ciudad[una_ciudad][0]
    return precio_promedio_general

In [54]:
df_train['precio_prom_ciudad'] = df_train['ciudad'].apply(obtener_precio_promedio_por_ciudad)
df_test['precio_prom_ciudad'] = df_test['ciudad'].apply(obtener_precio_promedio_por_ciudad)

##### Precio promedio según tipo de propiedad

In [55]:
precio_promedio_por_propiedad = df_train.groupby('tipodepropiedad').agg({'precio':'mean'}).T.to_dict('list')
precio_promedio_por_propiedad

{'Apartamento': [2763768.662248653],
 'Bodega comercial': [2693757.698435277],
 'Casa': [2398157.709865436],
 'Casa en condominio': [2898927.041819972],
 'Casa uso de suelo': [3732469.22740113],
 'Departamento Compartido': [2560161.8936170214],
 'Duplex': [1271757.973760933],
 'Edificio': [5009499.372492837],
 'Garage': [500000.0],
 'Hospedaje': [3000000.0],
 'Huerta': [3543350.0],
 'Inmuebles productivos urbanos': [3743070.11],
 'Local Comercial': [2365064.1610474633],
 'Local en centro comercial': [2212631.1272727274],
 'Lote': [988760.8],
 'Nave industrial': [3742600.0],
 'Oficina comercial': [3148532.746122918],
 'Otros': [2881688.8582089553],
 'Quinta Vacacional': [3187426.4607594935],
 'Rancho': [4032681.505882353],
 'Sin datos': [2249819.847826087],
 'Terreno': [1805201.8043237808],
 'Terreno comercial': [2472024.5859728507],
 'Terreno industrial': [3647994.4516129033],
 'Villa': [2767351.761764706]}

In [56]:
def obtener_precio_promedio_por_propiedad(un_tipo_propiedad):
    if un_tipo_propiedad in precio_promedio_por_propiedad:
        return precio_promedio_por_propiedad[un_tipo_propiedad][0]
    return precio_promedio_general

In [57]:
df_train['precio_prom_propiedad'] = df_train['tipodepropiedad'].apply(obtener_precio_promedio_por_propiedad)
df_test['precio_prom_propiedad'] = df_test['tipodepropiedad'].apply(obtener_precio_promedio_por_propiedad)

##### Pertenece al TOP5 de Provincias más caras

In [58]:
TOP5_provincias_caras = ['Distrito Federal', 'Edo. de México', 'Nuevo León', 'Guerrero', 'Quintana Roo']

def es_provincia_top5 (ciudad):
    if (ciudad in TOP5_provincias_caras):
        return 1
    return 0

In [59]:
df_train['provincia_top5'] = df_train['provincia'].apply(es_provincia_top5)
df_test['provincia_top5'] = df_test['provincia'].apply(es_provincia_top5)

##### Encoded según el Tipo de Propiedad

In [60]:
df_train['tipodepropiedad'].unique()

array(['Apartamento', 'Casa en condominio', 'Casa', 'Terreno',
       'Terreno comercial', 'Local Comercial', 'Quinta Vacacional',
       'Oficina comercial', 'Edificio', 'Casa uso de suelo',
       'Local en centro comercial', 'Bodega comercial', 'Otros', 'Villa',
       'Duplex', 'Inmuebles productivos urbanos',
       'Departamento Compartido', 'Nave industrial', 'Rancho',
       'Terreno industrial', 'Sin datos', 'Huerta', 'Lote', 'Hospedaje',
       'Garage'], dtype=object)

In [61]:
# Lista de TipoPropiedades sin los 'Sin datos'
lst_tipos_propiedades = ['Apartamento', 'Casa en condominio', 'Casa', 'Terreno', 'Terreno comercial', 'Local Comercial', 
                         'Quinta Vacacional', 'Oficina comercial', 'Edificio', 'Casa uso de suelo', 'Local en centro comercial', 
                         'Bodega comercial', 'Otros', 'Villa', 'Duplex', 'Inmuebles productivos urbanos', 'Departamento Compartido', 
                         'Nave industrial', 'Rancho', 'Terreno industrial', 'Huerta', 'Lote', 'Hospedaje', 'Garage']

In [62]:
for un_tipo_prop in lst_tipos_propiedades:
    nombre_columna = 'es_' + un_tipo_prop.replace (" ", "_")
    df_train[nombre_columna] = df_train['tipodepropiedad'].apply(lambda x: 1 if (x == un_tipo_prop) else 0)
    df_test[nombre_columna] = df_test['tipodepropiedad'].apply(lambda x: 1 if (x == un_tipo_prop) else 0)

##### Palabras en descripcion y titulo

In [63]:
lst_palabras_seguridad = ['seguridad', 'seguro', 'tranquilidad', 'tranquilo', 'paz']
lst_palabras_moderno = ['modernas', 'modernos', 'moderna', 'moderno', 'modernidad']
lst_palabras_hermoso = ['hermoso', 'hermosa', 'hermosos', 'hermosas', 'lindo', 'linda', 'lindos', 'lindas', 'bello', 'bella', 'bellos', 'bellas']
lst_palabras_estado = ['excelente', 'excelentes', 'residencial', 'confort']

In [64]:
def contar_cantidad_palabras (cadena, lst_palabras_a_buscar):
    cantidad_palabras = 0
    for una_palabra in cadena.split():
        if una_palabra in lst_palabras_a_buscar:
            cantidad_palabras += 1
    return cantidad_palabras

In [65]:
# PALABRAS EN DESCRIPCION
df_train['seguridad_descripcion'] = df_train['descripcion'].apply(lambda x: contar_cantidad_palabras(x, lst_palabras_seguridad))
df_test['seguridad_descripcion'] = df_test['descripcion'].apply(lambda x: contar_cantidad_palabras(x, lst_palabras_seguridad))

df_train['moderno_descripcion'] = df_train['descripcion'].apply(lambda x: contar_cantidad_palabras(x, lst_palabras_moderno))
df_test['moderno_descripcion'] = df_test['descripcion'].apply(lambda x: contar_cantidad_palabras(x, lst_palabras_moderno))

df_train['hermoso_descripcion'] = df_train['descripcion'].apply(lambda x: contar_cantidad_palabras(x, lst_palabras_hermoso))
df_test['hermoso_descripcion'] = df_test['descripcion'].apply(lambda x: contar_cantidad_palabras(x, lst_palabras_hermoso))

df_train['estado_descripcion'] = df_train['descripcion'].apply(lambda x: contar_cantidad_palabras(x, lst_palabras_estado))
df_test['estado_descripcion'] = df_test['descripcion'].apply(lambda x: contar_cantidad_palabras(x, lst_palabras_estado))

In [66]:
# PALABRAS EN TITULO
df_train['seguridad_titulo'] = df_train['titulo'].apply(lambda x: contar_cantidad_palabras(x, lst_palabras_seguridad))
df_test['seguridad_titulo'] = df_test['titulo'].apply(lambda x: contar_cantidad_palabras(x, lst_palabras_seguridad))

df_train['moderno_titulo'] = df_train['titulo'].apply(lambda x: contar_cantidad_palabras(x, lst_palabras_moderno))
df_test['moderno_titulo'] = df_test['titulo'].apply(lambda x: contar_cantidad_palabras(x, lst_palabras_moderno))

df_train['hermoso_titulo'] = df_train['titulo'].apply(lambda x: contar_cantidad_palabras(x, lst_palabras_hermoso))
df_test['hermoso_titulo'] = df_test['titulo'].apply(lambda x: contar_cantidad_palabras(x, lst_palabras_hermoso))

df_train['estado_titulo'] = df_train['titulo'].apply(lambda x: contar_cantidad_palabras(x, lst_palabras_estado))
df_test['estado_titulo'] = df_test['titulo'].apply(lambda x: contar_cantidad_palabras(x, lst_palabras_estado))

In [67]:
def log_palabras (cantidad_palabras, cadena_completa):
    long_cadena = len(cadena_completa.split())
    if (long_cadena == 0):
        return 0
    return np.log((cantidad_palabras / long_cadena) + 1)

In [68]:
df_train['cantidad_palabras_descripcion'] = df_train['seguridad_descripcion'] + df_train['moderno_descripcion'] + \
                                            df_train['hermoso_descripcion'] + df_train['estado_descripcion']

df_test['cantidad_palabras_descripcion'] = df_test['seguridad_descripcion'] + df_test['moderno_descripcion'] + \
                                            df_test['hermoso_descripcion'] + df_test['estado_descripcion']

df_train['relacion_palabras_descripcion'] = df_train.cantidad_palabras_descripcion.combine(df_train.descripcion, func=log_palabras)
df_test['relacion_palabras_descripcion'] = df_test.cantidad_palabras_descripcion.combine(df_test.descripcion, func=log_palabras)

##### Es Avenida

In [69]:
lst_palabras_avenida = ['avenida', 'av']

def direccion_es_avenida(direccion):
    for sinonimo_avenida in lst_palabras_avenida:
        if sinonimo_avenida in direccion.split():
            return 1
    return 0

In [70]:
df_train['es_avenida'] = df_train['direccion'].apply(direccion_es_avenida)
df_test['es_avenida'] = df_test['direccion'].apply(direccion_es_avenida)

##### Es Ciudad Capital

In [71]:
dic_estado_capital = {
    'Aguascalientes': 'Aguascalientes',
    'Baja California Norte': 'Mexicali',
    'Baja California Sur': 'La Paz',
    'Campeche': 'Campeche',
    'Chiapas': 'Tuxtla Gutiérrez',
    'Chihuahua': 'Chihuahua',
    'Coahuila': 'Saltillo',
    'Colima': 'Colima',
    'Distrito Federal': 'Ciudad de México',
    'Durango': 'Durango',
    'Edo. de México': 'Toluca',
    'Guanajuato': 'Guanajuato',
    'Guerrero': 'Chilpancingo de los Bravo',
    'Hidalgo': 'Pachuca',
    'Jalisco': 'Guadalajara',
    'Michoacán': 'Morelia',
    'Morelos': 'Cuernavaca', 
    'Nayarit': 'Tepic',
    'Nuevo León': 'Monterrey',
    'Oaxaca': 'Oaxaca de Juárez',
    'Puebla': 'Puebla',
    'Querétaro': 'Querétaro',
    'Quintana Roo': 'Chetumal',
    'San luis Potosí': 'San Luis Potosí',
    'Sinaloa': 'Culiacán',
    'Sonora': 'Hermosillo',
    'Tabasco': 'Villahermosa',
    'Tamaulipas': 'Ciudad Victoria',
    'Tlaxcala': 'Tlaxcala',
    'Veracruz': 'Xalapa',
    'Yucatán': 'Mérida',
    'Zacatecas': 'Zacatecas',
    'Sin datos': ''
}

In [72]:
def ciudad_es_capital_de_provincia(ciudad, provincia):
    if (ciudad == dic_estado_capital[provincia]):
        return 1
    return 0

In [73]:
df_train['es_ciudad_capital'] = df_train.ciudad.combine(df_train.provincia, func=ciudad_es_capital_de_provincia)
df_test['es_ciudad_capital'] = df_test.ciudad.combine(df_test.provincia, func=ciudad_es_capital_de_provincia)

##### TOP15 de Ciudades más turísticas

In [74]:
lst_top15_ciudades_turisticas = [
    'Ciudad de México', 'Rivera Maya', 'Cancún', 'Los Cabos', 'Guadalajara', 'Puerto Vallarta', 'Monterrey', 'Acapulco', 'Nuevo Vallarta',
    'Mazatlán', 'Puebla', 'Querétaro', 'Mérida', 'Veracruz', 'Ixtapa Zihuatanejo'
]

In [75]:
df_train['ciudad_turistica_top15'] = df_train['ciudad'].apply(lambda x: 1 if (x in lst_top15_ciudades_turisticas) else 0)
df_test['ciudad_turistica_top15'] = df_test['ciudad'].apply(lambda x: 1 if (x in lst_top15_ciudades_turisticas) else 0)

##### Mes y Año de publicación

In [76]:
df_train['fecha'] = pd.to_datetime(df_train['fecha'])
df_test['fecha'] = pd.to_datetime(df_test['fecha'])

df_train['anio'] = df_train['fecha'].dt.year
df_test['anio'] = df_test['fecha'].dt.year

df_train['mes'] = df_train['fecha'].dt.month
df_test['mes'] = df_test['fecha'].dt.month

In [93]:
df_train.columns

Index(['id', 'titulo', 'descripcion', 'tipodepropiedad', 'direccion', 'ciudad',
       'provincia', 'antiguedad', 'habitaciones', 'garages', 'banos',
       'metroscubiertos', 'metrostotales', 'idzona', 'lat', 'lng', 'fecha',
       'gimnasio', 'usosmultiples', 'piscina', 'escuelascercanas',
       'centroscomercialescercanos', 'precio', 'cantidad_amenities',
       'cantidad_servicios', 'relacion_metros', 'metros_por_habitacion',
       'metros_por_bano', 'metros_por_amenities', 'bano_por_habitacion',
       'garages_por_habitacion', 'precio_prom_ciudad', 'precio_prom_propiedad',
       'provincia_top5', 'es_Apartamento', 'es_Casa_en_condominio', 'es_Casa',
       'es_Terreno', 'es_Terreno_comercial', 'es_Local_Comercial',
       'es_Quinta_Vacacional', 'es_Oficina_comercial', 'es_Edificio',
       'es_Casa_uso_de_suelo', 'es_Local_en_centro_comercial',
       'es_Bodega_comercial', 'es_Otros', 'es_Villa', 'es_Duplex',
       'es_Inmuebles_productivos_urbanos', 'es_Departamento_Compartido',
       'es_Nave_industrial', 'es_Rancho', 'es_Terreno_industrial', 'es_Huerta',
       'es_Lote', 'es_Hospedaje', 'es_Garage', 'seguridad_descripcion',
       'moderno_descripcion', 'hermoso_descripcion', 'estado_descripcion',
       'seguridad_titulo', 'moderno_titulo', 'hermoso_titulo', 'estado_titulo',
       'cantidad_palabras_descripcion', 'relacion_palabras_descripcion',
       'es_avenida', 'es_ciudad_capital', 'ciudad_turistica_top15', 'anio',
       'mes'],
      dtype='object')

-------------------------------------------------------------------------------------------------------------------------------------

### Guardo Features generados

In [94]:
df_train.to_csv('../data/train_con_features.csv')
df_test.to_csv('../data/test_con_features.csv')

##### Por idzona

In [77]:
#from sklearn.dummy import DummyRegressor

In [78]:
#dummies_idzona_train = pd.get_dummies(df_train['idzona'], dummy_na=False)
#dummies_idzona_test = pd.get_dummies(df_test['idzona'], dummy_na=False)

In [79]:
#df_train = df_train.join(dummies_idzona_train)
#df_test = df_test.join(dummies_idzona_test)

In [80]:
#df_train.columns

##### Cotización dolar según fecha

In [81]:
#df_dolar = pd.read_csv('../data/valor_historico_dolar_pesomexicano.csv')
#df_dolar['fecha_cotizacion'] = pd.to_datetime(df_dolar['fecha_cotizacion'])
#display(df_dolar.head())

In [82]:
#firstDay = pd.Timestamp(2012, 1, 1)
#lastDay = pd.Timestamp(2016, 12, 31)

In [83]:
#from datetime import timedelta
#lst_fechas = [firstDay + timedelta(days=d) for d in range((lastDay - firstDay).days + 1)]
#dt_fechas_completas = pd.DataFrame(lst_fechas).rename(columns={0: 'fecha'})
#dt_fechas_completas.head()

In [84]:
#df_join_fecha = pd.merge(dt_fechas_completas, df_dolar, how='left', left_on='fecha', right_on='fecha_cotizacion')
#df_join_fecha = df_join_fecha.sort_values(['fecha'])
#df_join_fecha.head()

In [85]:
#lst_fechas_nulos = df_join_fecha.loc[df_join_fecha['valor'].isnull()].index
#lst_fechas_nulos

In [86]:
#def convertir_str_float(valor):
#    if type(valor) == float:
#        return 0
#    return float(valor.replace(',', '.'))

In [87]:
#df_join_fecha['valor'] = df_join_fecha['valor'].apply(convertir_str_float)

In [88]:
#for idx_fecha_nula in lst_fechas_nulos:
#    idx_anterior = idx_fecha_nula - 1
#    idx_posterior = idx_fecha_nula + 1
#    if (idx_fecha_nula == 0):
#        idx_anterior = idx_fecha_nula + 1
#    if (idx_fecha_nula == 1826):
#        idx_posterior = idx_fecha_nula - 1
#    valor_anterior = df_join_fecha.xs(idx_anterior)['valor']
#    valor_posterior = df_join_fecha.xs(idx_posterior)['valor']
#    if (valor_posterior == 0):
#        df_join_fecha.loc[idx_fecha_nula,'valor'] = valor_anterior
#    else:
#        df_join_fecha.loc[idx_fecha_nula,'valor'] = (valor_anterior + valor_posterior) / 2

In [89]:
#def obtener_cotizacion (fecha):
#    return df_join_fecha.loc[df_join_fecha['fecha'] == fecha]['valor']

In [90]:
#df_train['valor_dolar'] = df_train['fecha'].apply(obtener_cotizacion)

In [91]:
#df_train['valor_dolar'].value_counts()

In [92]:
#df_join_fecha['valor'].value_counts()