In [1]:
import pandas as pd
import numpy as np
import calendar
from datetime import datetime
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')

## Notebook para limpiar datos y generar Features

In [2]:
df_train = pd.read_csv('../data/train.csv')
df_test = pd.read_csv('../data/test.csv')

In [3]:
df_train.columns

Index(['id', 'titulo', 'descripcion', 'tipodepropiedad', 'direccion', 'ciudad',
       'provincia', 'antiguedad', 'habitaciones', 'garages', 'banos',
       'metroscubiertos', 'metrostotales', 'idzona', 'lat', 'lng', 'fecha',
       'gimnasio', 'usosmultiples', 'piscina', 'escuelascercanas',
       'centroscomercialescercanos', 'precio'],
      dtype='object')

In [4]:
print('Cantidad nulos en Tipo Propiedad:', df_train.tipodepropiedad.isnull().sum())
df_train.tipodepropiedad.value_counts()

Cantidad nulos en Tipo Propiedad: 46

Casa                             141717
Apartamento                       57341
Casa en condominio                19297
Terreno                            9945
Local Comercial                    3055
Oficina comercial                  1741
Bodega comercial                   1406
Edificio                           1396
Terreno comercial                  1326
Casa uso de suelo                   708
Quinta Vacacional                   395
Duplex                              343
Villa                               340
Inmuebles productivos urbanos       200
Rancho                              170
Local en centro comercial           165
Departamento Compartido             141
Otros                               134
Nave industrial                      76
Terreno industrial                   31
Huerta                               20
Lote                                  5
Garage                                1
Hospedaje                             1
Name: tipodepropiedad, dtype: int64

In [5]:
print('Cantidad nulos en Ciudad:', df_train.ciudad.isnull().sum())
df_train.ciudad.value_counts()

Cantidad nulos en Ciudad: 372

Querétaro                              12646
Benito Juárez                          11014
Zapopan                                10360
San Luis Potosí                         7925
Mérida                                  7162
Monterrey                               6946
Alvaro Obregón                          6633
Cuauhtémoc                              6614
Naucalpan de Juárez                     6554
Miguel Hidalgo                          5795
Atizapán de Zaragoza                    5783
Tlalpan                                 5721
Huixquilucan                            5718
Coyoacán                                5293
Puebla                                  4636
Guadalajara                             4006
San Andrés Cholula                      3805
Cancún                                  3779
Cuernavaca                              3775
Chihuahua                               3757
Tlalnepantla de Baz                     3588
Cuautitlán Izcalli                      3408
Tlajomulco de Zúñiga                    3254
Gustavo A. Madero                       3141
Iztapalapa                              3093
Cuajimalpa de Morelos                   3020
Tijuana                                 2863
Hermosillo                              2590
Acapulco de Juárez                      2454
Ecatepec de Morelos                     2159
                                       ...
Cocula                                     1
Zimatlán de Alvarez                        1
Cacalchén                                  1
Ixtaczoquitlán                             1
Concordia                                  1
Tolcayuca                                  1
Purépero                                   1
El Mante                                   1
Oluta                                      1
Axapusco                                   1
Cuautitlán de García Barragán              1
Salinas                                    1
Atengo                                     1
Cuaxomulco                                 1
Nanacamilpa de Mariano Arista              1
Escárcega                                  1
Texcaltitlán                               1
Coahuayana                                 1
Elota                                      1
Tetela del Volcán                          1
Axochiapan                                 1
Ixhuatlancillo                             1
Reyes Etla                                 1
Almoloya del Río                           1
Chilchotla                                 1
Tangancícuaro                              1
Heroica Ciudad de Huajuapan de León        1
Bella Vista                                1
Palizada                                   1
Yaxkukul                                   1
Name: ciudad, Length: 875, dtype: int64

In [6]:
print('Cantidad nulos en Provincia:', df_train.provincia.isnull().sum())
df_train.provincia.value_counts()

Cantidad nulos en Provincia: 155

Distrito Federal         58790
Edo. de México           41607
Jalisco                  21238
Querétaro                16988
Nuevo León               15324
Puebla                   10421
San luis Potosí           8447
Yucatán                   7928
Morelos                   7337
Veracruz                  5762
Quintana Roo              4756
Chihuahua                 4590
Coahuila                  3695
Baja California Norte     3220
Sonora                    2988
Guanajuato                2860
Guerrero                  2678
Hidalgo                   2521
Michoacán                 2471
Tamaulipas                2303
Durango                   2275
Sinaloa                   1806
Aguascalientes            1753
Baja California Sur       1700
Nayarit                   1352
Chiapas                   1126
Colima                    1008
Tabasco                    994
Tlaxcala                   839
Oaxaca                     711
Campeche                   263
Zacatecas                   94
Name: provincia, dtype: int64

In [7]:
print('Cantidad nulos en Habitaciones:', df_train.habitaciones.isnull().sum())
df_train.habitaciones.value_counts()

Cantidad nulos en Habitaciones: 22471

3.0     121887
2.0      57808
4.0      25068
1.0       5069
5.0       4596
6.0       1669
7.0        539
8.0        398
10.0       316
9.0        179
Name: habitaciones, dtype: int64

In [8]:
print('Cantidad nulos en Garages:', df_train.garages.isnull().sum())
df_train.garages.value_counts()

Cantidad nulos en Garages: 37765

2.0    94167
1.0    59464
0.0    26926
3.0    21678
Name: garages, dtype: int64

In [9]:
print('Cantidad nulos en Antiguedad:', df_train.antiguedad.isnull().sum())
df_train.antiguedad.value_counts()

Cantidad nulos en Antiguedad: 43555

0.0     50335
5.0     33268
10.0    28844
20.0    19904
1.0     12353
4.0      7944
3.0      5616
2.0      5059
15.0     3965
6.0      3169
30.0     3055
8.0      2418
25.0     2297
7.0      2046
12.0     1492
11.0     1434
40.0     1347
50.0     1193
9.0      1065
35.0      938
18.0      908
21.0      742
16.0      700
14.0      616
13.0      577
17.0      529
22.0      448
28.0      396
26.0      369
45.0      329
        ...
47.0       40
55.0       38
48.0       36
46.0       31
70.0       29
41.0       27
80.0       27
53.0       17
49.0       17
65.0       17
52.0       11
58.0       10
54.0        9
75.0        6
66.0        5
59.0        5
69.0        5
67.0        4
57.0        4
63.0        4
62.0        3
56.0        3
74.0        2
68.0        2
79.0        2
61.0        2
76.0        2
71.0        1
77.0        1
64.0        1
Name: antiguedad, Length: 78, dtype: int64

In [10]:
print('Cantidad nulos en Baños:', df_train.banos.isnull().sum())
df_train.banos.value_counts()

Cantidad nulos en Baños: 26221

2.0    87683
1.0    58173
3.0    49365
4.0    18558
Name: banos, dtype: int64

In [11]:
print('Cantidad nulos en Metros Cubiertos:', df_train.metroscubiertos.isnull().sum())
df_train.metroscubiertos.value_counts()

Cantidad nulos en Metros Cubiertos: 17400

200.0    4984
120.0    4290
60.0     4217
90.0     4204
300.0    3920
100.0    3892
180.0    3780
80.0     3716
150.0    3543
250.0    3521
160.0    3502
70.0     3231
140.0    2931
65.0     2747
220.0    2728
110.0    2695
400.0    2434
130.0    2420
240.0    2358
350.0    2197
75.0     2153
170.0    2121
280.0    1989
190.0    1890
50.0     1836
230.0    1730
260.0    1728
210.0    1653
85.0     1652
320.0    1574
         ...
421.0      58
381.0      55
437.0      55
373.0      55
439.0      54
34.0       53
422.0      52
431.0      50
427.0      47
379.0      47
25.0       47
399.0      46
403.0      46
433.0      46
413.0      43
31.0       39
429.0      36
15.0       30
28.0       30
27.0       23
24.0       22
23.0       21
16.0       18
29.0       16
26.0       14
18.0       13
22.0       12
19.0       10
21.0        9
17.0        8
Name: metroscubiertos, Length: 425, dtype: int64

In [12]:
print('Cantidad nulos en Metros Totales:', df_train.metrostotales.isnull().sum())
df_train.metrostotales.value_counts()

Cantidad nulos en Metros Totales: 51467

90.0     7042
200.0    6957
160.0    6026
120.0    5687
300.0    4837
250.0    4360
140.0    3314
180.0    3304
60.0     3165
105.0    3051
150.0    2837
100.0    2815
80.0     2401
400.0    2001
70.0     1888
130.0    1871
110.0    1754
128.0    1746
240.0    1660
220.0    1654
144.0    1595
170.0    1567
96.0     1542
65.0     1445
75.0     1337
72.0     1271
126.0    1172
112.0    1170
350.0    1151
210.0    1095
         ...
439.0      54
381.0      53
20.0       52
379.0      52
38.0       51
394.0      51
39.0       50
423.0      47
421.0      46
433.0      42
25.0       40
393.0      40
429.0      39
34.0       36
31.0       34
33.0       34
15.0       32
37.0       28
28.0       28
27.0       28
26.0       22
24.0       21
16.0       19
29.0       18
22.0       17
18.0       14
21.0       14
17.0       13
23.0       10
19.0        8
Name: metrostotales, Length: 425, dtype: int64

In [13]:
print('Cantidad nulos en Gimnasio:', df_train.gimnasio.isnull().sum())
df_train.gimnasio.value_counts()

Cantidad nulos en Gimnasio: 0

0.0    225006
1.0     14994
Name: gimnasio, dtype: int64

In [14]:
print('Cantidad nulos en SUM:', df_train.usosmultiples.isnull().sum())
df_train.usosmultiples.value_counts()

Cantidad nulos en SUM: 0

0.0    226778
1.0     13222
Name: usosmultiples, dtype: int64

In [15]:
print('Cantidad nulos en Piscina:', df_train.piscina.isnull().sum())
df_train.piscina.value_counts()

Cantidad nulos en Piscina: 0

0.0    219028
1.0     20972
Name: piscina, dtype: int64

In [16]:
print('Cantidad nulos en Escuelas Cercanas:', df_train.escuelascercanas.isnull().sum())
df_train.escuelascercanas.value_counts()

Cantidad nulos en Escuelas Cercanas: 0

0.0    133406
1.0    106594
Name: escuelascercanas, dtype: int64

In [17]:
print('Cantidad nulos en Centros Comerciales Cercanos:', df_train.centroscomercialescercanos.isnull().sum())
df_train.centroscomercialescercanos.value_counts()

Cantidad nulos en Centros Comerciales Cercanos: 0

0.0    144832
1.0     95168
Name: centroscomercialescercanos, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------

### Reemplazo de Nulos

In [18]:
# Imputamos los NaNs
df_train['metroscubiertos'] = imp_mean.fit_transform(df_train[['metroscubiertos']])
df_test['metroscubiertos'] = imp_mean.transform(df_test[['metroscubiertos']])

In [19]:
# Imputamos los NaNs
df_train['metrostotales'] = imp_mean.fit_transform(df_train[['metrostotales']])
df_test['metrostotales'] = imp_mean.transform(df_test[['metrostotales']])

In [20]:
# Imputamos los NaNs
df_train['banos'] = imp_mean.fit_transform(df_train[['banos']])
df_test['banos'] = imp_mean.transform(df_test[['banos']])

In [21]:
# Imputamos los NaNs
df_train['antiguedad'] = imp_mean.fit_transform(df_train[['antiguedad']])
df_test['antiguedad'] = imp_mean.transform(df_test[['antiguedad']])

In [22]:
# Imputamos los NaNs
df_train['garages'] = imp_mean.fit_transform(df_train[['garages']])
df_test['garages'] = imp_mean.transform(df_test[['garages']])

In [23]:
# Imputamos los NaNs
df_train['habitaciones'] = imp_mean.fit_transform(df_train[['habitaciones']])
df_test['habitaciones'] = imp_mean.transform(df_test[['habitaciones']])

In [24]:
# Imputamos los Nulos
df_train['tipodepropiedad'].fillna("Sin datos", inplace = True)
df_test['tipodepropiedad'].fillna("Sin datos", inplace = True)

In [25]:
# Imputamos los Nulos
df_train['ciudad'].fillna("Sin datos", inplace = True)
df_test['ciudad'].fillna("Sin datos", inplace = True)

In [26]:
# Imputamos los Nulos
df_train['provincia'].fillna("Sin datos", inplace = True)
df_test['provincia'].fillna("Sin datos", inplace = True)

In [27]:
# Imputamos los Nulos
df_train['descripcion'].fillna("Sin datos", inplace = True)
df_test['descripcion'].fillna("Sin datos", inplace = True)

In [28]:
# Imputamos los Nulos
df_train['titulo'].fillna("Sin datos", inplace = True)
df_test['titulo'].fillna("Sin datos", inplace = True)

-------------------------------------------------------------------------------------------------------------------------------------

### Creación de nuevos Features

In [29]:
def relacion_metros(cantidad_metros_cuadrados, otra_variable):
    if (otra_variable == 0):
        return 0
    return (cantidad_metros_cuadrados / otra_variable)

##### Cantidad total de Amenities

In [30]:
df_train['cantidad_amenities'] = df_train['gimnasio'] + df_train['usosmultiples'] + df_train['piscina']
df_test['cantidad_amenities'] = df_test['gimnasio'] + df_test['usosmultiples'] + df_test['piscina']

##### Cantidad total de Servicios (escuales/comercios cercanos)

In [31]:
df_train['cantidad_servicios'] = df_train['escuelascercanas'] + df_train['centroscomercialescercanos']
df_test['cantidad_servicios'] =  df_test['escuelascercanas'] + df_test['centroscomercialescercanos']

##### Relación entre Metros Cubiertos sobre Metros Totales

In [32]:
df_train['relacion_metros'] = df_train['metroscubiertos'] / df_train['metrostotales']
df_test['relacion_metros'] = df_test['metroscubiertos'] / df_test['metrostotales']

##### Metros Cuadrados Cubiertos por Habitación

In [33]:
df_train['metros_por_habitacion'] = df_train.metroscubiertos.combine(df_train.habitaciones, func=relacion_metros)
df_test['metros_por_habitacion'] = df_test.metroscubiertos.combine(df_test.habitaciones, func=relacion_metros)

##### Metros cuadrados cubiertos por Baño

In [34]:
df_train['metros_por_bano'] = df_train.metroscubiertos.combine(df_train.banos, func=relacion_metros)
df_test['metros_por_bano'] = df_test.metroscubiertos.combine(df_test.banos, func=relacion_metros)

##### Metros cuadrados por cantidad total de Amenities

In [35]:
df_train['metros_por_amenities'] = df_train.metroscubiertos.combine(df_train.cantidad_amenities, func=relacion_metros)
df_test['metros_por_amenities'] = df_test.metroscubiertos.combine(df_test.cantidad_amenities, func=relacion_metros)

##### Pertenece al TOP5 de Provincias más caras

In [36]:
TOP5_provincias_caras = ['Distrito Federal', 'Edo. de México', 'Nuevo León', 'Guerrero', 'Quintana Roo']

def es_provincia_top5 (ciudad):
    if (ciudad in TOP5_provincias_caras):
        return 1
    return 0

In [37]:
df_train['provincia_top5'] = df_train['provincia'].apply(es_provincia_top5)
df_test['provincia_top5'] = df_test['provincia'].apply(es_provincia_top5)

##### Encoded según el Tipo de Propiedad

In [38]:
df_train['tipodepropiedad'].unique()

array(['Apartamento', 'Casa en condominio', 'Casa', 'Terreno',
       'Terreno comercial', 'Local Comercial', 'Quinta Vacacional',
       'Oficina comercial', 'Edificio', 'Casa uso de suelo',
       'Local en centro comercial', 'Bodega comercial', 'Otros', 'Villa',
       'Duplex', 'Inmuebles productivos urbanos',
       'Departamento Compartido', 'Nave industrial', 'Rancho',
       'Terreno industrial', 'Sin datos', 'Huerta', 'Lote', 'Hospedaje',
       'Garage'], dtype=object)

In [39]:
# Lista de TipoPropiedades sin los 'Sin datos'
lst_tipos_propiedades = ['Apartamento', 'Casa en condominio', 'Casa', 'Terreno', 'Terreno comercial', 'Local Comercial', 
                         'Quinta Vacacional', 'Oficina comercial', 'Edificio', 'Casa uso de suelo', 'Local en centro comercial', 
                         'Bodega comercial', 'Otros', 'Villa', 'Duplex', 'Inmuebles productivos urbanos', 'Departamento Compartido', 
                         'Nave industrial', 'Rancho', 'Terreno industrial', 'Huerta', 'Lote', 'Hospedaje', 'Garage']

In [40]:
for un_tipo_prop in lst_tipos_propiedades:
    nombre_columna = 'es_' + un_tipo_prop.replace (" ", "_")
    df_train[nombre_columna] = df_train['tipodepropiedad'].apply(lambda x: 1 if (x == un_tipo_prop) else 0)
    df_test[nombre_columna] = df_test['tipodepropiedad'].apply(lambda x: 1 if (x == un_tipo_prop) else 0)

-------------------------------------------------------------------------------------------------------------------------------------

### Guardo Features generados

In [41]:
df_train.to_csv('../data/train_con_features.csv')
df_test.to_csv('../data/test_con_features.csv')