In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from fastai.tabular import add_datepart

data = pd.read_csv('../data/train.csv')

In [2]:
data.head()

,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,...,idzona,lat,lng,fecha,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio
0,254099,depto. tipo a-402,"depto. interior de 80.15m2, consta de sala com...",Apartamento,Avenida Division del Norte 2005,Benito Juárez,Distrito Federal,NaN,2.0,1.0,...,23533.0,NaN,NaN,2015-08-23 00:00:00,0.0,0.0,0.0,0.0,0.0,2273000.0
1,53461,condominio horizontal en venta,"<p>entre sonora y guerrero, atr&aacute;s del h...",Casa en condominio,AV. MEXICO,La Magdalena Contreras,Distrito Federal,10.0,3.0,2.0,...,24514.0,19.310205,-99.227655,2013-06-28 00:00:00,0.0,0.0,0.0,1.0,1.0,3600000.0
2,247984,casa en venta urbi 3 recamaras tonala,descripcion \nla mejor ubicacion residencial e...,Casa,Urbi Tonala,Tonalá,Jalisco,5.0,3.0,2.0,...,48551.0,NaN,NaN,2015-10-17 00:00:00,0.0,0.0,0.0,0.0,0.0,1200000.0
3,209067,casa sola en toluca zinacantepec con credito i...,casa en privada con caseta de vigilancia casas...,Casa,IGNACIO MANUEL ALTAMIRANO 128,Zinacantepec,Edo. de México,1.0,2.0,1.0,...,53666.0,19.301890,-99.688015,2012-03-09 00:00:00,0.0,0.0,0.0,1.0,1.0,650000.0
4,185997,paseos del sol,bonito departamento en excelentes condiciones ...,Apartamento,PASEOS DEL SOL,Zapopan,Jalisco,10.0,2.0,1.0,...,47835.0,NaN,NaN,2016-06-07 00:00:00,0.0,0.0,0.0,0.0,0.0,1150000.0

In [3]:
data['antiguedad'] = data['antiguedad'].fillna(0)
data['habitaciones'] = data['habitaciones'].fillna(0)
data['garages'] = data['garages'].fillna(0)
data['banos'] = data['banos'].fillna(0)
data['metroscubiertos'] = data['metroscubiertos'].fillna(0)
data['metrostotales'] = data['metrostotales'].fillna(0)
data['gimnasio'] = data['gimnasio'].fillna(0)
data['usosmultiples'] = data['usosmultiples'].fillna(0)
data['piscina'] = data['piscina'].fillna(0)
data['escuelascercanas'] = data['escuelascercanas'].fillna(0)
data['centroscomercialescercanos'] = data['centroscomercialescercanos'].fillna(0)
data['fecha'] = pd.to_datetime(data.fecha,format='%Y-%m-%d')

In [4]:
add_datepart(data, 'fecha')

,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,...,fechaDay,fechaDayofweek,fechaDayofyear,fechaIs_month_end,fechaIs_month_start,fechaIs_quarter_end,fechaIs_quarter_start,fechaIs_year_end,fechaIs_year_start,fechaElapsed
0,254099,depto. tipo a-402,"depto. interior de 80.15m2, consta de sala com...",Apartamento,Avenida Division del Norte 2005,Benito Juárez,Distrito Federal,0.0,2.0,1.0,...,23,6,235,False,False,False,False,False,False,1440288000
1,53461,condominio horizontal en venta,"<p>entre sonora y guerrero, atr&aacute;s del h...",Casa en condominio,AV. MEXICO,La Magdalena Contreras,Distrito Federal,10.0,3.0,2.0,...,28,4,179,False,False,False,False,False,False,1372377600
2,247984,casa en venta urbi 3 recamaras tonala,descripcion \nla mejor ubicacion residencial e...,Casa,Urbi Tonala,Tonalá,Jalisco,5.0,3.0,2.0,...,17,5,290,False,False,False,False,False,False,1445040000
3,209067,casa sola en toluca zinacantepec con credito i...,casa en privada con caseta de vigilancia casas...,Casa,IGNACIO MANUEL ALTAMIRANO 128,Zinacantepec,Edo. de México,1.0,2.0,1.0,...,9,4,69,False,False,False,False,False,False,1331251200
4,185997,paseos del sol,bonito departamento en excelentes condiciones ...,Apartamento,PASEOS DEL SOL,Zapopan,Jalisco,10.0,2.0,1.0,...,7,1,159,False,False,False,False,False,False,1465257600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239995,119879,bonita casas de 2 recamaras a 10 minutos del c...,vendo casa en bosques de ica residencial a 10 ...,Casa,BOSQUES,Zinacantepec,Edo. de México,0.0,2.0,2.0,...,8,6,39,False,False,False,False,False,False,1423353600
239996,259178,casa en condominio a 10 min. del centro de toluca,"casa con un jardin amplio, un cuarto de servic...",Casa,Filiberto Navas 325,Toluca,Edo. de México,0.0,3.0,3.0,...,10,3,191,False,False,False,False,False,False,1404950400
239997,131932,nicolas san juan,"departamento con excelente ubicación, muy cerc...",Apartamento,Nicolas San Juan,Benito Juárez,Distrito Federal,20.0,2.0,1.0,...,3,1,62,False,False,False,False,False,False,1425340800
239998,146867,casa sola. javier rojo gomez.,"casa sola, dividida en cuatro departamentos de...",Casa,Javier Rojo Gomez 120,Iztapalapa,Distrito Federal,20.0,4.0,0.0,...,26,4,360,False,False,False,False,False,False,1419552000
239999,121958,departamento en bosques de las lomas / av. st...,"id:19816, muy bonito e iluminado departamento,...",Apartamento,AVE. STIM,Cuajimalpa de Morelos,Distrito Federal,1.0,3.0,2.0,...,19,4,170,False,False,False,False,False,False,1434672000

In [5]:
data.columns

Index(['id', 'titulo', 'descripcion', 'tipodepropiedad', 'direccion', 'ciudad',
       'provincia', 'antiguedad', 'habitaciones', 'garages', 'banos',
       'metroscubiertos', 'metrostotales', 'idzona', 'lat', 'lng', 'gimnasio',
       'usosmultiples', 'piscina', 'escuelascercanas',
       'centroscomercialescercanos', 'precio', 'fechaYear', 'fechaMonth',
       'fechaWeek', 'fechaDay', 'fechaDayofweek', 'fechaDayofyear',
       'fechaIs_month_end', 'fechaIs_month_start', 'fechaIs_quarter_end',
       'fechaIs_quarter_start', 'fechaIs_year_end', 'fechaIs_year_start',
       'fechaElapsed'],
      dtype='object')

In [6]:
# extraer datos en destino (y) y predictores (X)
train_y = data.precio

In [7]:
train_y.head()

0    2273000.0
1    3600000.0
2    1200000.0
3     650000.0
4    1150000.0
Name: precio, dtype: float64

In [8]:
predictor_cols = ["antiguedad","habitaciones", "garages","banos","metroscubiertos","metrostotales", "gimnasio", 
                  "usosmultiples", "piscina", "escuelascercanas", "centroscomercialescercanos",
                  "fechaYear", "fechaMonth",
                  "fechaWeek", "fechaDay", "fechaDayofweek", "fechaDayofyear",
                  "fechaElapsed"                 
                 ]
train_X = data[predictor_cols]

In [9]:
train_X.head()

,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,fechaYear,fechaMonth,fechaWeek,fechaDay,fechaDayofweek,fechaDayofyear,fechaElapsed
0,0.0,2.0,1.0,2.0,80.0,80.0,0.0,0.0,0.0,0.0,0.0,2015,8,34,23,6,235,1440288000
1,10.0,3.0,2.0,2.0,268.0,180.0,0.0,0.0,0.0,1.0,1.0,2013,6,26,28,4,179,1372377600
2,5.0,3.0,2.0,2.0,144.0,166.0,0.0,0.0,0.0,0.0,0.0,2015,10,42,17,5,290,1445040000
3,1.0,2.0,1.0,1.0,63.0,67.0,0.0,0.0,0.0,1.0,1.0,2012,3,10,9,4,69,1331251200
4,10.0,2.0,1.0,1.0,95.0,95.0,0.0,0.0,0.0,0.0,0.0,2016,6,23,7,1,159,1465257600

In [10]:
#train_X.antiguedad.unique()

In [11]:
# leo los datos de test 
test = pd.read_csv('../data/test.csv')

In [12]:
modelo_usado = RandomForestRegressor()
modelo_usado.fit(train_X, train_y)

/home/cesar/anaconda3/envs/venv/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [13]:
add_datepart(test, 'fecha')

,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,...,fechaDay,fechaDayofweek,fechaDayofyear,fechaIs_month_end,fechaIs_month_start,fechaIs_quarter_end,fechaIs_quarter_start,fechaIs_year_end,fechaIs_year_start,fechaElapsed
0,4941,"casa en venta en miguel hidalgo, distrito federal",<p>excelente casa estilo moderno.</p>,Casa,Bosque de Cedros,Miguel Hidalgo,Distrito Federal,29.0,3.0,NaN,...,20,5,201,False,False,False,False,False,False,1374278400
1,51775,departamentos en venta en montebello,<p>departamento una recamara:\n</p><p>departam...,Apartamento,NaN,Mérida,Yucatán,NaN,1.0,1.0,...,24,5,297,False,False,False,False,False,False,1445644800
2,115253,departamento nuevo delegación coyoacán de 87 m...,"departamento nuevo de 87.06 m2, 1 cajón de est...",Apartamento,"Pueblo de los Reyes, Coyoacán, Mexico D.F.",Coyoacán,Distrito Federal,0.0,2.0,1.0,...,30,5,150,False,False,False,False,False,False,1432944000
3,299321,departamento en venta en acapulco,<p> raíces dv001 precioso departamento tipo k...,Apartamento,NaN,Acapulco de Juárez,Guerrero,2.0,2.0,2.0,...,2,3,92,False,False,False,False,False,False,1427932800
4,173570,bonita casa sola equipada de dos niveles en lo...,"<p>casa sola, bonita de dos rec&aacute;maras u...",Casa,CEDROS,Tultitlán,Edo. de México,10.0,2.0,1.0,...,15,3,227,False,False,False,False,False,False,1376524800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,75094,oportunidad!! se vende amplia casa en col. moc...,oportunidad!! ideal para oficina o casa habita...,Casa,Oriente 172 # 265,Venustiano Carranza,Distrito Federal,20.0,4.0,3.0,...,19,5,262,False,False,False,False,False,False,1442620800
59996,171847,colinas de ecatepec,"casa, sala comedor, patio de servicio, buenas ...",Casa,colinas,Ecatepec de Morelos,Edo. de México,10.0,3.0,1.0,...,19,2,293,False,False,False,False,False,False,1476835200
59997,138313,estrene hermosa casa en sierra morena,hermosa casa lista para habitarse ubicada en f...,Casa,s/calle,Guadalupe,Nuevo León,5.0,3.0,2.0,...,2,1,336,False,False,False,False,False,False,1417478400
59998,271268,zen house i venta de linda casa con acabados ...,hermosa casa con acabados de lujo en fracciona...,Casa,Zen House l,Querétaro,Querétaro,0.0,2.0,1.0,...,21,4,295,False,False,False,False,False,False,1477008000
59999,72612,casa en chapalita las fuentes/ cercano al club...,<p>hermosa casa bien ubicada. cuenta con:</p>\...,Casa,Fuentes de San Agustín 5051,Zapopan,Jalisco,0.0,3.0,2.0,...,9,5,40,False,False,False,False,False,False,1360368000

In [14]:
test.head()

,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,...,fechaDay,fechaDayofweek,fechaDayofyear,fechaIs_month_end,fechaIs_month_start,fechaIs_quarter_end,fechaIs_quarter_start,fechaIs_year_end,fechaIs_year_start,fechaElapsed
0,4941,"casa en venta en miguel hidalgo, distrito federal",<p>excelente casa estilo moderno.</p>,Casa,Bosque de Cedros,Miguel Hidalgo,Distrito Federal,29.0,3.0,NaN,...,20,5,201,False,False,False,False,False,False,1374278400
1,51775,departamentos en venta en montebello,<p>departamento una recamara:\n</p><p>departam...,Apartamento,NaN,Mérida,Yucatán,NaN,1.0,1.0,...,24,5,297,False,False,False,False,False,False,1445644800
2,115253,departamento nuevo delegación coyoacán de 87 m...,"departamento nuevo de 87.06 m2, 1 cajón de est...",Apartamento,"Pueblo de los Reyes, Coyoacán, Mexico D.F.",Coyoacán,Distrito Federal,0.0,2.0,1.0,...,30,5,150,False,False,False,False,False,False,1432944000
3,299321,departamento en venta en acapulco,<p> raíces dv001 precioso departamento tipo k...,Apartamento,NaN,Acapulco de Juárez,Guerrero,2.0,2.0,2.0,...,2,3,92,False,False,False,False,False,False,1427932800
4,173570,bonita casa sola equipada de dos niveles en lo...,"<p>casa sola, bonita de dos rec&aacute;maras u...",Casa,CEDROS,Tultitlán,Edo. de México,10.0,2.0,1.0,...,15,3,227,False,False,False,False,False,False,1376524800

In [15]:
test['antiguedad'] = test['antiguedad'].fillna(0)
test['habitaciones'] = test['habitaciones'].fillna(0)
test['garages'] = test['garages'].fillna(0)
test['banos'] = test['banos'].fillna(0)
test['metroscubiertos'] = test['metroscubiertos'].fillna(0)
test['metrostotales'] = test['metrostotales'].fillna(0)
test['gimnasio'] = test['gimnasio'].fillna(0)
test['usosmultiples'] = test['usosmultiples'].fillna(0)
test['piscina'] = test['piscina'].fillna(0)
test['escuelascercanas'] = test['escuelascercanas'].fillna(0)
test['centroscomercialescercanos'] = test['centroscomercialescercanos'].fillna(0)

In [16]:
test_X = test[predictor_cols]
test_X.head()

,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,fechaYear,fechaMonth,fechaWeek,fechaDay,fechaDayofweek,fechaDayofyear,fechaElapsed
0,29.0,3.0,0.0,4.0,300.0,0.0,0.0,0.0,0.0,0.0,0.0,2013,7,29,20,5,201,1374278400
1,0.0,1.0,1.0,1.0,67.0,67.0,0.0,0.0,0.0,0.0,0.0,2015,10,43,24,5,297,1445644800
2,0.0,2.0,1.0,2.0,87.0,100.0,0.0,0.0,0.0,0.0,1.0,2015,5,22,30,5,150,1432944000
3,2.0,2.0,2.0,2.0,86.0,86.0,0.0,0.0,0.0,0.0,0.0,2015,4,14,2,3,92,1427932800
4,10.0,2.0,1.0,1.0,80.0,76.0,0.0,0.0,0.0,1.0,1.0,2013,8,33,15,3,227,1376524800

In [17]:
# Uso el modelo para predecir
prediccion_precios = modelo_usado.predict(test_X)

In [18]:
print(prediccion_precios)

[4031000.  1166242.3 2624255.6 2543337.  ... 1115200.  1542795.  2538000.  2379900. ]

In [19]:
train_y.head()

0    2273000.0
1    3600000.0
2    1200000.0
3     650000.0
4    1150000.0
Name: precio, dtype: float64

In [20]:
mi_submit = pd.DataFrame({'id': test.id, 'target': prediccion_precios})

In [21]:
mi_submit.head()

       id     target
0    4941  4031000.0
1   51775  1166242.3
2  115253  2624255.6
3  299321  2543337.0
4  173570   713000.0

In [22]:
mi_submit.to_csv('../data/submission_RFbaseline_v03.csv', index=False)