In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from fastai.tabular import add_datepart

#data = pd.read_csv('../data/train.csv')

data = pd.read_csv('../data/train_con_features.csv')

In [2]:
data.head()

,Unnamed: 0,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,...,moderno_titulo,hermoso_titulo,estado_titulo,cantidad_palabras_descripcion,relacion_palabras_descripcion,es_avenida,es_ciudad_capital,ciudad_turistica_top15,anio,mes
0,0,254099,depto tipo a 402,depto interior de 80 15m2 consta de sala com...,Apartamento,avenida division del norte 2005,Benito Juárez,Distrito Federal,8.116114,2.0,...,0,0,0,0,0.000000,1,0,0,2015,8
1,1,53461,condominio horizontal en venta,p entre sonora y guerrero atr aacute s del h...,Casa en condominio,av mexico,La Magdalena Contreras,Distrito Federal,10.000000,3.0,...,0,0,0,1,0.007968,1,0,0,2013,6
2,2,247984,casa en venta urbi 3 recamaras tonala,descripcion la mejor ubicacion residencial en...,Casa,urbi tonala,Tonalá,Jalisco,5.000000,3.0,...,0,0,0,10,0.046957,0,0,0,2015,10
3,3,209067,casa sola en toluca zinacantepec con credito i...,casa en privada con caseta de vigilancia casas...,Casa,ignacio manuel altamirano 128,Zinacantepec,Edo. de México,1.000000,2.0,...,0,0,0,0,0.000000,0,0,0,2012,3
4,4,185997,paseos del sol,bonito departamento en excelentes condiciones ...,Apartamento,paseos del sol,Zapopan,Jalisco,10.000000,2.0,...,0,0,0,1,0.074108,0,0,0,2016,6

In [3]:
data['antiguedad'] = data['antiguedad'].fillna(0)
data['habitaciones'] = data['habitaciones'].fillna(0)
data['garages'] = data['garages'].fillna(0)
data['banos'] = data['banos'].fillna(0)
data['metroscubiertos'] = data['metroscubiertos'].fillna(0)
data['metrostotales'] = data['metrostotales'].fillna(0)
data['gimnasio'] = data['gimnasio'].fillna(0)
data['usosmultiples'] = data['usosmultiples'].fillna(0)
data['piscina'] = data['piscina'].fillna(0)
data['escuelascercanas'] = data['escuelascercanas'].fillna(0)
data['centroscomercialescercanos'] = data['centroscomercialescercanos'].fillna(0)
data['fecha'] = pd.to_datetime(data.fecha,format='%Y-%m-%d')

In [4]:
add_datepart(data, 'fecha')

,Unnamed: 0,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,...,fechaDay,fechaDayofweek,fechaDayofyear,fechaIs_month_end,fechaIs_month_start,fechaIs_quarter_end,fechaIs_quarter_start,fechaIs_year_end,fechaIs_year_start,fechaElapsed
0,0,254099,depto tipo a 402,depto interior de 80 15m2 consta de sala com...,Apartamento,avenida division del norte 2005,Benito Juárez,Distrito Federal,8.116114,2.0,...,23,6,235,False,False,False,False,False,False,1440288000
1,1,53461,condominio horizontal en venta,p entre sonora y guerrero atr aacute s del h...,Casa en condominio,av mexico,La Magdalena Contreras,Distrito Federal,10.000000,3.0,...,28,4,179,False,False,False,False,False,False,1372377600
2,2,247984,casa en venta urbi 3 recamaras tonala,descripcion la mejor ubicacion residencial en...,Casa,urbi tonala,Tonalá,Jalisco,5.000000,3.0,...,17,5,290,False,False,False,False,False,False,1445040000
3,3,209067,casa sola en toluca zinacantepec con credito i...,casa en privada con caseta de vigilancia casas...,Casa,ignacio manuel altamirano 128,Zinacantepec,Edo. de México,1.000000,2.0,...,9,4,69,False,False,False,False,False,False,1331251200
4,4,185997,paseos del sol,bonito departamento en excelentes condiciones ...,Apartamento,paseos del sol,Zapopan,Jalisco,10.000000,2.0,...,7,1,159,False,False,False,False,False,False,1465257600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239995,239995,119879,bonita casas de 2 recamaras a 10 minutos del c...,vendo casa en bosques de ica residencial a 10 ...,Casa,bosques,Zinacantepec,Edo. de México,0.000000,2.0,...,8,6,39,False,False,False,False,False,False,1423353600
239996,239996,259178,casa en condominio a 10 min del centro de toluca,casa con un jardin amplio un cuarto de servic...,Casa,filiberto navas 325,Toluca,Edo. de México,0.000000,3.0,...,10,3,191,False,False,False,False,False,False,1404950400
239997,239997,131932,nicolas san juan,departamento con excelente ubicación muy cerc...,Apartamento,nicolas san juan,Benito Juárez,Distrito Federal,20.000000,2.0,...,3,1,62,False,False,False,False,False,False,1425340800
239998,239998,146867,casa sola javier rojo gomez,casa sola dividida en cuatro departamentos de...,Casa,javier rojo gomez 120,Iztapalapa,Distrito Federal,20.000000,4.0,...,26,4,360,False,False,False,False,False,False,1419552000
239999,239999,121958,departamento en bosques de las lomas av st...,id 19816 muy bonito e iluminado departamento ...,Apartamento,ave stim,Cuajimalpa de Morelos,Distrito Federal,1.000000,3.0,...,19,4,170,False,False,False,False,False,False,1434672000

In [5]:
data.columns

Index(['Unnamed: 0', 'id', 'titulo', 'descripcion', 'tipodepropiedad',
       'direccion', 'ciudad', 'provincia', 'antiguedad', 'habitaciones',
       'garages', 'banos', 'metroscubiertos', 'metrostotales', 'idzona', 'lat',
       'lng', 'gimnasio', 'usosmultiples', 'piscina', 'escuelascercanas',
       'centroscomercialescercanos', 'precio', 'cantidad_amenities',
       'cantidad_servicios', 'relacion_metros', 'metros_por_habitacion',
       'metros_por_bano', 'metros_por_amenities', 'bano_por_habitacion',
       'garages_por_habitacion', 'precio_prom_ciudad', 'precio_prom_propiedad',
       'provincia_top5', 'es_Apartamento', 'es_Casa_en_condominio', 'es_Casa',
       'es_Terreno', 'es_Terreno_comercial', 'es_Local_Comercial',
       'es_Quinta_Vacacional', 'es_Oficina_comercial', 'es_Edificio',
       'es_Casa_uso_de_suelo', 'es_Local_en_centro_comercial',
       'es_Bodega_comercial', 'es_Otros', 'es_Villa', 'es_Duplex',
       'es_Inmuebles_productivos_urbanos', 'es_Departamento_Compartido',
       'es_Nave_industrial', 'es_Rancho', 'es_Terreno_industrial', 'es_Huerta',
       'es_Lote', 'es_Hospedaje', 'es_Garage', 'seguridad_descripcion',
       'moderno_descripcion', 'hermoso_descripcion', 'estado_descripcion',
       'seguridad_titulo', 'moderno_titulo', 'hermoso_titulo', 'estado_titulo',
       'cantidad_palabras_descripcion', 'relacion_palabras_descripcion',
       'es_avenida', 'es_ciudad_capital', 'ciudad_turistica_top15', 'anio',
       'mes', 'fechaYear', 'fechaMonth', 'fechaWeek', 'fechaDay',
       'fechaDayofweek', 'fechaDayofyear', 'fechaIs_month_end',
       'fechaIs_month_start', 'fechaIs_quarter_end', 'fechaIs_quarter_start',
       'fechaIs_year_end', 'fechaIs_year_start', 'fechaElapsed'],
      dtype='object')

In [6]:
predictor_cols = ["antiguedad","habitaciones", "garages","banos","metroscubiertos","metrostotales", "gimnasio", 
                  "usosmultiples", "piscina", "escuelascercanas", "centroscomercialescercanos",
                  "fechaYear", "fechaMonth",
                  "fechaWeek", "fechaDay", "fechaDayofweek", "fechaDayofyear",
                  "fechaElapsed",            
                  "es_Apartamento", "es_Casa_en_condominio", "es_Casa", "es_Terreno",
                  "es_Terreno_comercial", "es_Local_Comercial", "es_Quinta_Vacacional",
                  "es_Oficina_comercial", "es_Edificio", "es_Casa_uso_de_suelo",
                  "es_Local_en_centro_comercial", "es_Bodega_comercial", "es_Otros",
                  "es_Villa", "es_Duplex", "es_Inmuebles_productivos_urbanos",
                  "es_Departamento_Compartido", "es_Nave_industrial", "es_Rancho",
                  "es_Terreno_industrial", "es_Huerta", "es_Lote", "es_Hospedaje", "es_Garage",
                  "seguridad_descripcion", "moderno_descripcion", "hermoso_descripcion", "estado_descripcion", 
                  "seguridad_titulo", "moderno_titulo", "hermoso_titulo", "estado_titulo",
                  "relacion_palabras_descripcion", "cantidad_palabras_descripcion",
                  "provincia_top5", "es_ciudad_capital", "ciudad_turistica_top15", "precio_prom_ciudad"                 
                 ]
#train_X = data[predictor_cols]

In [7]:
#train_X.head()

In [8]:
# extraer datos en destino (y) y predictores (X)
X = data[predictor_cols]
Y = data.precio

In [9]:
Y.head()

0    2273000.0
1    3600000.0
2    1200000.0
3     650000.0
4    1150000.0
Name: precio, dtype: float64

In [10]:
X.head()

,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,gimnasio,usosmultiples,piscina,escuelascercanas,...,seguridad_titulo,moderno_titulo,hermoso_titulo,estado_titulo,relacion_palabras_descripcion,cantidad_palabras_descripcion,provincia_top5,es_ciudad_capital,ciudad_turistica_top15,precio_prom_ciudad
0,8.116114,2.0,1.0,2.0,80.0,80.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0.000000,0,1,0,0,3.384659e+06
1,10.000000,3.0,2.0,2.0,268.0,180.0,0.0,0.0,0.0,1.0,...,0,0,0,0,0.007968,1,1,0,0,4.605869e+06
2,5.000000,3.0,2.0,2.0,144.0,166.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0.046957,10,0,0,0,8.870115e+05
3,1.000000,2.0,1.0,1.0,63.0,67.0,0.0,0.0,0.0,1.0,...,0,0,0,0,0.000000,0,1,0,0,1.472305e+06
4,10.000000,2.0,1.0,1.0,95.0,95.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0.074108,1,0,0,0,2.749675e+06

In [11]:
#X = df_train[columnas_numericas_y_precio].drop(columns=['precio']).values
#y = df_train['precio'].values
#train_Y = train_X.iloc[:,-1]

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.2, random_state=123)

print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(192000, 56) (192000,)
(48000, 56) (48000,)

In [13]:
modelo_usado = RandomForestRegressor(n_estimators=100)

In [14]:
modelo_usado_fit = modelo_usado.fit(X_train, y_train)

In [15]:
# Uso el modelo para predecir
prediccion_precios = modelo_usado_fit.predict(X_test)

In [16]:
from sklearn.metrics import mean_absolute_error

RandomForest_mae = mean_absolute_error(y_test, prediccion_precios)
RandomForest_mae_train = mean_absolute_error(y_train, modelo_usado_fit.predict(X_train))
print(f"MAE RandomForest (train): {RandomForest_mae_train:.5f}")
print(f"MAE RandomForest: {RandomForest_mae:.5f}")
print("------------------------------")

MAE RandomForest (train): 225147.75472
MAE RandomForest: 605102.98747
------------------------------

In [17]:
# leo los datos de test 
test = pd.read_csv('../data/test_con_features.csv')

In [18]:
add_datepart(test, 'fecha')

,Unnamed: 0,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,...,fechaDay,fechaDayofweek,fechaDayofyear,fechaIs_month_end,fechaIs_month_start,fechaIs_quarter_end,fechaIs_quarter_start,fechaIs_year_end,fechaIs_year_start,fechaElapsed
0,0,4941,casa en venta en miguel hidalgo distrito federal,p excelente casa estilo moderno p,Casa,bosque de cedros,Miguel Hidalgo,Distrito Federal,29.000000,3.0,...,20,5,201,False,False,False,False,False,False,1374278400
1,1,51775,departamentos en venta en montebello,p departamento una recamara p p departame...,Apartamento,sin datos,Mérida,Yucatán,8.116114,1.0,...,24,5,297,False,False,False,False,False,False,1445644800
2,2,115253,departamento nuevo delegación coyoacán de 87 m...,departamento nuevo de 87 06 m2 1 cajón de est...,Apartamento,pueblo de los reyes coyoacán mexico d f,Coyoacán,Distrito Federal,0.000000,2.0,...,30,5,150,False,False,False,False,False,False,1432944000
3,3,299321,departamento en venta en acapulco,p raíces dv001 precioso departamento tipo k...,Apartamento,sin datos,Acapulco de Juárez,Guerrero,2.000000,2.0,...,2,3,92,False,False,False,False,False,False,1427932800
4,4,173570,bonita casa sola equipada de dos niveles en lo...,p casa sola bonita de dos rec aacute maras u...,Casa,cedros,Tultitlán,Edo. de México,10.000000,2.0,...,15,3,227,False,False,False,False,False,False,1376524800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,59995,75094,oportunidad se vende amplia casa en col moc...,oportunidad ideal para oficina o casa habita...,Casa,oriente 172 265,Venustiano Carranza,Distrito Federal,20.000000,4.0,...,19,5,262,False,False,False,False,False,False,1442620800
59996,59996,171847,colinas de ecatepec,casa sala comedor patio de servicio buenas ...,Casa,colinas,Ecatepec de Morelos,Edo. de México,10.000000,3.0,...,19,2,293,False,False,False,False,False,False,1476835200
59997,59997,138313,estrene hermosa casa en sierra morena,hermosa casa lista para habitarse ubicada en f...,Casa,s calle,Guadalupe,Nuevo León,5.000000,3.0,...,2,1,336,False,False,False,False,False,False,1417478400
59998,59998,271268,zen house i venta de linda casa con acabados ...,hermosa casa con acabados de lujo en fracciona...,Casa,zen house l,Querétaro,Querétaro,0.000000,2.0,...,21,4,295,False,False,False,False,False,False,1477008000
59999,59999,72612,casa en chapalita las fuentes cercano al club...,p hermosa casa bien ubicada cuenta con p ...,Casa,fuentes de san agustín 5051,Zapopan,Jalisco,0.000000,3.0,...,9,5,40,False,False,False,False,False,False,1360368000

In [19]:
##todo: ajustar modelo

In [20]:
mejor_modelo_usado = RandomForestRegressor(n_estimators=100)

In [21]:
modelo_usado_ajustado = mejor_modelo_usado.fit(X_train,y_train)

In [32]:
test[predictor_cols].head()

,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,gimnasio,usosmultiples,piscina,escuelascercanas,...,seguridad_titulo,moderno_titulo,hermoso_titulo,estado_titulo,relacion_palabras_descripcion,cantidad_palabras_descripcion,provincia_top5,es_ciudad_capital,ciudad_turistica_top15,precio_prom_ciudad
0,29.000000,3.0,1.546874,4.0,300.0,176.765145,0.0,0.0,0.0,0.0,...,0,0,0,0,0.287682,2,1,0,0,4.496526e+06
1,8.116114,1.0,1.000000,1.0,67.0,67.000000,0.0,0.0,0.0,0.0,...,0,0,0,0,0.000000,0,0,1,1,2.028803e+06
2,0.000000,2.0,1.000000,2.0,87.0,100.000000,0.0,0.0,0.0,0.0,...,0,0,0,0,0.000000,0,1,0,0,3.407009e+06
3,2.000000,2.0,2.000000,2.0,86.0,86.000000,0.0,0.0,0.0,0.0,...,0,0,0,0,0.000000,0,1,0,0,2.585813e+06
4,10.000000,2.0,1.000000,1.0,80.0,76.000000,0.0,0.0,0.0,1.0,...,0,0,0,0,0.000000,0,1,0,0,9.147382e+05

In [36]:
#len(prediccion_precios)
#X_train.count()

antiguedad                          192000
habitaciones                        192000
garages                             192000
banos                               192000
metroscubiertos                     192000
metrostotales                       192000
gimnasio                            192000
usosmultiples                       192000
piscina                             192000
escuelascercanas                    192000
centroscomercialescercanos          192000
fechaYear                           192000
fechaMonth                          192000
fechaWeek                           192000
fechaDay                            192000
fechaDayofweek                      192000
fechaDayofyear                      192000
fechaElapsed                        192000
es_Apartamento                      192000
es_Casa_en_condominio               192000
es_Casa                             192000
es_Terreno                          192000
es_Terreno_comercial                192000
es_Local_Comercial                  192000
es_Quinta_Vacacional                192000
es_Oficina_comercial                192000
es_Edificio                         192000
es_Casa_uso_de_suelo                192000
es_Local_en_centro_comercial        192000
es_Bodega_comercial                 192000
es_Otros                            192000
es_Villa                            192000
es_Duplex                           192000
es_Inmuebles_productivos_urbanos    192000
es_Departamento_Compartido          192000
es_Nave_industrial                  192000
es_Rancho                           192000
es_Terreno_industrial               192000
es_Huerta                           192000
es_Lote                             192000
es_Hospedaje                        192000
es_Garage                           192000
seguridad_descripcion               192000
moderno_descripcion                 192000
hermoso_descripcion                 192000
estado_descripcion                  192000
seguridad_titulo                    192000
moderno_titulo                      192000
hermoso_titulo                      192000
estado_titulo                       192000
relacion_palabras_descripcion       192000
cantidad_palabras_descripcion       192000
provincia_top5                      192000
es_ciudad_capital                   192000
ciudad_turistica_top15              192000
precio_prom_ciudad                  192000
dtype: int64

In [37]:
prediccion_precios = modelo_usado_ajustado.predict(test[predictor_cols])

In [38]:
mi_submit = pd.DataFrame({'id': test.id, 'target': prediccion_precios})

In [39]:
mi_submit.to_csv('../data/submission_RF_v01.csv', index=False)

In [18]:
print(prediccion_precios)

[4031000.  1166242.3 2624255.6 2543337.  ... 1115200.  1542795.  2538000.  2379900. ]

In [19]:
train_y.head()

0    2273000.0
1    3600000.0
2    1200000.0
3     650000.0
4    1150000.0
Name: precio, dtype: float64

In [20]:
mi_submit = pd.DataFrame({'id': test.id, 'target': prediccion_precios})

In [21]:
mi_submit.head()

       id     target
0    4941  4031000.0
1   51775  1166242.3
2  115253  2624255.6
3  299321  2543337.0
4  173570   713000.0

In [22]:
mi_submit.to_csv('../data/submission_RFbaseline_v03.csv', index=False)